<div class="container">
    <form class="login-form">
        {{> Input label="Login" }}
        {{> Input label="Password" }}
        {{> Button label="Sign in" type="primary" }}
        {{> Button label="Sign up" type="link" }}
    </form>
</div>