.button {
    width: 100%;
    font-size: 16px;
    padding: 16px;
    background: inherit;
    border: none;
    border-radius: .5rem;
    &:hover {
        opacity: .9;
    }
    
    cursor: pointer;
    &__primary {
        background-color: #5972fb;
        color: white;
    }
}