<div class="container flex-column">
    {{> Title text="500" className="title__error"}}
    {{> Desc text="Не туда попали" className="desc__error"}}
    {{> Link text="Мы уже фиксим" url="/" className="link__back"}}
</div>
