.message__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 8px 0;
}
.circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: var(--bg-second-color);
}
