<div class="messages__header mx-5">
    <div class="flex align-center">
        <div class="circle"></div>
        {{> Title text="Вадим" className="ml-2"}}
    </div>
    {{> Button type="icon" className="button__menu"}}
</div>