<div class="container">
    <div class="blog-post">
        <img class="blog-post__image" src="{{avatar}}" width="300" alt="cat"/>
        <div class="blog-post__title">Hello World👋</div>
        <div class="blog-post__text">I'm pretty cat 😸. My name is {{userName}}</div>
    </div>
</div>