.message {
  display: flex;
  align-self: flex-end;
  justify-content: flex-start;
  padding: 5px 8px;
  position: relative;
  z-index: 1;
  margin: 6px 10px;
  background: #e4edfd;
  box-shadow: 0 0 6px 0 #00000024;
  border-radius: 10px;
  max-width: 50%;
  min-width: 40px;
}

.message__incoming {
  align-self: flex-start;
  justify-content: flex-end;
  background: #f8f8f8;
}

.message__text {
  font-size: 12px;
}

.message__date {
  color: #999999;
  font-size: 8px;
  float: right;
  margin-left: 3px;
  margin-top: 8px;
}
