{{#> FormWrapper title="Вход"}}
    <div class="form-content">
        {{> Input label="Логин" }}
        {{> Input label="Пароль" }}
    </div>
    {{> Button label="Авторизироваться" type="primary" }}
    {{> Button label="Нет аккаунта?" type="link" }}
{{/ FormWrapper}}