<a class="chat-card {{#if active}}card_active{{/if}}">
  <div class="chat-card__avatar">
    <img src={{avatar}} />
  </div>
  <div class="chat-card__top">
    <div class="flex__between">
        <span class="chat-card__title">{{title}}</span>
        <span class="chat-card__date">{{date}}</span>
    </div>
  </div>
  <div class="chat-card__desc">
    <span>{{desc}}</span>  
  </div>
</a>