.chat-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
  min-height: 3.5rem;
  margin: 0 10px;
  border-bottom: 1px solid #eaeaea;
}

.chat-card__active {
  background-color: var(--second-color);
}

/* .chat-card::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--second-color);
  position: absolute;
  bottom: 0;
} */

.chat-card__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  pointer-events: none;
  height: 100%;
}

.chat-card__avatar img {
  width: 3.25rem;
  height: 3.25rem;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--second-color);
}

.chat-card__top {
  padding-inline-start: 3.5rem;
  padding-top: 10px;
}

.chat-card__title {
  font-size: 16px;
  font-weight: 700;
}

.chat-card__date {
    font-size: 10px;
}

.chat-card__desc {
  font-size: 12px;
  padding-inline-start: 3.5rem;
  padding-bottom: 10px;
}

