.card {
    display: grid;
    grid-template-columns: min-content max-content max-content;
    gap: 0 15px;
    padding: 12px 10px;
    position: relative;
    margin: 2px 0;
    align-items: center;
}

.card_active {
    background-color: var(--second-color);
}

.card::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--second-color);
    position: absolute;
    bottom: 0;
}

.card__avatar {
    clip-path: circle(50% at 50% 50%);
}
