.messages__footer {
  display: flex;
  align-items: center;
}
.messages__area {
  background: var(--bg-second-color);
  padding: 7px 15px;
  border-radius: 30px;
  padding-left: 15px;
  border: none;
  resize: none;
}
.messages__area:focus, .messages__area:focus
{
  outline: none;
}