<div class="message__footer mx-5">
    {{>Button type="icon" className="button__attach"}}
    <input class="message__input w-100 mx-2" placeholder="Сообщение" />
    {{>Button type="icon" className="button__send"}}
</div>