<div class="messages__footer mx-5">
    {{>Button type="icon" className="button__attach"}}
    <textarea class="messages__area w-100 mx-2" placeholder="Сообщение" rows="1" autofocus></textarea>
    {{>Button type="icon" className="button__send"}}
</div>