<ul>
    <li><a href="#" page="login">Login</a></li>
    <li><a href="#" page="list">List</a></li>
    <li><a href="#" page="sign-up">Sign Up</a></li>
    <li><a href="#" page="404">404</a></li>
    <li><a href="#" page="500">500</a></li>
</ul>