<div class="app flex">
    <div class="app__left chats">
        {{> ChatList}}
    </div>
    <div class="app__border"></div>
    <div class="app__right messages">
        {{> MessageHeader}}
        {{> MessageList}}
        {{> MessageFooter}}
    </div>
</div>