.card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 12px 10px;
    position: relative;
    margin: 2px 0;
}

.card_active {
    background-color: var(--second-color);
}

.card::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--second-color);
    position: absolute;
    bottom: 0;
  }