@import "./variables.pcss";
@import "../partials/card/blog-post.pcss";

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    flex-wrap: wrap;
    background-color: var(--main-bg-color);
}