<div class="container">
    <Form class="login-form">
        <div>
            {{> Title text="Вход" className="title__h2 text-center"}}
            {{> Input label="Логин" }}
            {{> Input label="Пароль" }}
        </div>
        <div>
            {{> Button text="Авторизоваться" type="primary" }}
            {{> Button text="Нет аккаунта?" type="link" }}
        </div>
        {{!-- {{test}} --}}
    </Form>
</div>
