<div class="container">
    <Form class="sign-up-form">
        {{> Title text="Регистрация" className="h1"}}
        <div>
            {{> Input label="Почта" }}
            {{> Input label="Пароль" }}
            {{> Input label="Имя" }}
            {{> Input label="Фамилия" }}
            {{> Input label="Телефон" }}
            {{> Input label="Пароль" }}
            {{> Input label="Пароль (ещё раз)" }}
        </div>
        {{> Button label="Зарегестрироваться" type="primary" className="mt-4" }}
        {{> Button label="Войти" type="link" }}
    </Form>
</div>
