<div class="container">
    <Form class="sign-up-form">
        {{> Title text="Регистрация" className="title__h2 text-center"}}
        <div>
            {{> Input label="Почта" }}
            {{> Input label="Пароль" }}
            {{> Input label="Имя" }}
            {{> Input label="Фамилия" }}
            {{> Input label="Телефон" }}
            {{> Input label="Пароль" }}
            {{> Input label="Пароль (ещё раз)" }}
        </div>
        {{> Button text="Зарегестрироваться" type="primary" className="mt-4" }}
        {{> Button text="Войти" type="link" }}
    </Form>
</div>
