<div class="input">
    <div class="input__label" >{{label}}</div>
    <input class="input__control" type={{type}} value="{{value}}" />
    {{#if error}}
        <div class="input__error">{{error}}</div>
    {{/if}}
</div>