
.input {
    width: 100%;
    &__label {
        font-size: 18px;
        padding: 0 0 10px 20px;
    }
    &__control {
        width: 100%;
        font-size: 16px;
        border-radius: 20px;
        border: 2px solid #2b8cbb;
        padding: 10px 20px;
    }
    &__error {
        padding: 5px 0 0 10px;
        font-size: 14px;
        color: #df6f6f;
    }
}