:root {
    --main-color: #3369f3;
    --second-color: #e4edfd;
    --error-color: #ff2f2f;
    --text-color: #1e1e1e;
    --text-secondary-color: #999;
  }

  .container {
    display: flex;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 50px 30px 30px;
    width: 340px;
    box-shadow: 0 0 6px 0 #00000024;
    border-radius: 12px;
}