<div class="container flex-column">
    {{> Title text="404" className="title__error"}}
    {{> Desc text="Не туда попали" className="desc__error"}}
    {{> Link text="Назад к чатам" url="/" className="link__back"}}
</div>
